
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand " [routerLink]="['']">SING SNAP LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/features']">FEATURES</a>
        </li>
        <li>
          <a [routerLink]="['/login']">LOGIN</a>
        </li>
        <li>
          <a [routerLink]="['/signUp']">SIGN UP</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
